:root{
    --mainColor: #0B0B0B;
    --secondaryColor: #242526;

    --borderColor: #616A6B;

    --mainText: white;
    --secondaryText: #2481CF;
    --thirdText: #0043A5;

    --previewBG: rgb(37, 39, 42, 0.8);
    --previewShadow: #37383A;
    
    --btnColor: black;

    --top-spacing: 60px;
}

html {
    scroll-padding-top: var(--top-spacing);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--secondaryText);
    font-family: 'Russo One', monospace;
    font-weight: 300px;
}

p, li, span, label, input, textarea, a {
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    text-align: center;
    padding: 20px;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 70px;
    position: fixed;
    line-height: 30px;
    text-align: center;
    z-index: 2;
}

.nav .logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1rem;
}

.nav .logo a {
    text-decoration: none;
    color: var(--mainText);
    font-size: 1.2rem;
}

.nav .logo a:hover {
    color: var(--secondaryText);
}

.nav div.main_list {
    height: 70px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 70px;
    display: flex;    
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 70px;
    margin: 0px 15px;

}

.nav div.main_list ul li a {
    text-decoration: none;
    color: var(--mainText);
    line-height: 65px;
    font-size: 1.2rem;
    
}

.nav div.main_list ul li a:hover {
    color: var(--secondaryText);
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.affix {
    padding: 0px;
    background-color: rgba(0,0,0,1);
    border-bottom: 2px solid var(--secondaryText);
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}



/* Hero Section*/

#hero {
    background-image: url(./assets/bg_img.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero a {
    animation: text_reveal -5s ease forwards;
    animation-delay: 4s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--thirdText);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    visibility: hidden;
    display: inline-block;
    padding: 10px 30px;
    color: var(--secondaryText);
    background-color: transparent;
    border: 2px solid var(--secondaryText);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
}

#hero .cta:hover {
    color: var(--secondaryText);
    background-color: var(--secondaryColor);
}

/* End Hero Section */

/* About Section */

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 30em auto;
    grid-template-areas:
        'about-title about-title'
        'left-column-one right-column-one'
        'column-two column-two'
}

.about-title {
    grid-area: about-title; 
}

.left-column-one {
    grid-area: left-column-one;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid var(--borderColor);
}

#github-logo{
    width: 70px;
    height: 70px;
}

.right-column-one {
    grid-area: right-column-one;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    max-width: 550px;
    height: 280px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 550px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBG);
    padding: 15px;
    position: relative;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #ffffff;   
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

.column-two {
    grid-area: column-two;
    padding: 20px;
}

.techs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'backend-title frontend-title interested-title'
    'backend-wrapper frontend-wrapper interested-wrapper';
}

.techs-wrapper .backend-title, .frontend-title, .interested-title {
    text-align: center;
}

.backend-wrapper {
    grid-area: backend-wrapper;
}

.frontend-wrapper {
    grid-area: frontend-wrapper;
}

.interested-wrapper {
    grid-area: interested-wrapper;
}

.backend-title {
    grid-area: backend-title;
    
}

.frontend-title {
    grid-area: frontend-title;
}

.interested-title {
    grid-area: interested-title;
}

.backend-wrapper, .frontend-wrapper, .interested-wrapper {
    
    background-color: var(--secondaryColor);
    padding:10px;
    margin: 20px;

    -webkit-box-shadow: 10px 10px 5px -4px rgba(36,129,207,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(36,129,207,1);
    box-shadow: 10px 10px 5px -4px rgba(36,129,207,1);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    object-fit: contain;
}

.logo:hover {
    transform: scale(1.2);
}

/* Projects Section */

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 75px;
    justify-content: center;
    padding: 50px 0px;
}

.post {
    border: 1px solid var(--mainColor);
    -webkit-box-shadow: -1px 4px 20px 6px rgba(0,0,0,1);
    -moz-box-shadow: -1px 4px 20px 6px rgba(0,0,0,1);
    box-shadow: -1px 4px 20px 6px rgba(0,0,0,1);
}

.post:hover {
    transform: scale(1.1);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: fill;
}

.post-preview {
    background-color: var(--mainColor);
    padding: 15px;
}

.post-title {
    color: var(--thirdText);
    margin: 5px;
    font-size: 20px;    
}

.post-intro {
    color: whitesmoke;
    font-size:16px;
}

.link-btn {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link {
    margin: 10px 0px;
    text-align: center;
    border: 1px solid var(--secondaryText);
    background-color: var(--secondaryColor);
    color: var(--secondaryText);
    padding: 5px;
    font-size: 20px;
}

.link:hover {
    background-color: var(--thirdText);
    border: 2px solid var(--secondaryColor);
    color: var(--mainText);
    transform: scale(1.2);
}

/* Get In Touch Section */

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--secondaryColor);
    margin-bottom: 50px;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 150px;
}

.input-field {
    width: 100%;
    background-color: var(--mainColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 16px;
    padding: 10px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    background-color: var(--btnColor);
    border: none;
    font-size: 18px;
}

/* Others */

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
}

footer {
    background-color: var(--secondaryColor);
}

/* Media Screens */

@media screen and (max-width: 1420px) {
    .techs-wrapper {
        display: block;
    }

    .backend-wrapper, .frontend-wrapper, .interested-wrapper {
        margin: 25px;
    }
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }

    #hero {
        background-size: cover;
        background-position: top right;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 2rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    
    .about-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'about-title'
            'left-column-one'
            'right-column-one'
            'column-two';
    }

    .right-column-one {
        justify-content: center;
    }

    .techs-wrapper {
        display: block;
    }

    .backend-wrapper, .frontend-wrapper, .interested-wrapper {
        margin: 20px;
    }

    @media screen and (max-width: 600px){
        #preview-shadow{
            max-width: 400px;
            height: 330px;
            padding-left: 10px;
            padding-top: 10px;
        }
    
        #preview{
            width: 400px;
        }
    
    }

    @media screen and (max-width: 500px){
        #preview-shadow{
            max-width: 280px;
            height: 500px;
            padding-left: 10px;
            padding-top: 10px;
        }
    
        #preview{
            width: 280px;
        }

        .logo {
            max-width: 100px;
            max-height: 100px;
        }

        .backend-wrapper, .frontend-wrapper, .interested-wrapper {
            display: block;
        }
    
    }
    
    
}

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: var(--secondaryText);
    }
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}