:root{
    --mainColor: #0B0B0B;
    --secondaryColor: #242526;

    --navbarIcons: #F5F5F5;

    --mainText: #F5F5F5;
    --secondaryText: #2481CF;
    --thirdText: #0043A5;

    --previewBG: rgb(37, 39, 42, 0.8);
    --previewShadow: #37383A;

    --top-spacing: 60px;
}

html {
    scroll-padding-top: var(--top-spacing);
}

body {
    background-color: var(--mainColor);  
}

body * {
    transition: 0.3s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--secondaryText);
    font-family: 'Russo One', monospace;
    font-weight: 300px;
}

p, li, span, label, input, textarea, a {
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    text-align: center;
    padding: 20px;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 70px;
    position: fixed;
    line-height: 30px;
    text-align: center;
    z-index: 2;
}

.nav .logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1rem;
}

.nav .logo a {
    text-decoration: none;
    color: var(--navbarIcons);
    font-size: 1.2rem;
}

.nav .logo a:hover {
    color: var(--secondaryText);
}

.theme-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;

    margin: 5px;
    border: 3px solid var(--secondaryText);

    cursor: pointer;
}

.theme-dot:hover {
    transform: scale(1.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
}


.left-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    width: 250px;  
}

.left-wrapper p {
    color: var(--navbarIcons);
}

.light-theme, .dark-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#light-mode {
    background-color: #F5F5F5;
    border: 3px solid #2963C5
}

#dark-mode {
    background-color: #0B090A;
    border: 3px solid #DE061D;
}

.nav div.main_list {
    height: 70px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 70px;
    display: flex;    
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 70px;
    margin: 0px 15px;

}

.nav div.main_list ul li a {
    text-decoration: none;
    color: var(--navbarIcons);
    line-height: 65px;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.nav div.main_list ul li a:hover {
    border-bottom: 2px solid var(--secondaryText);
}

.navTrigger {
    display: none;
}

.nav {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.affix {
    padding: 0;
    height: 75px;
    background-color: var(--mainColor);
    border-bottom: 2px solid var(--secondaryText);
}

.affix div.main_list ul li a {
    padding-bottom: 5px;
    color: var(--secondaryText);
}

.affix div.main_list ul li a:hover {
    border-bottom: 2px solid var(--secondaryText);
}

.affix .logo a {
    text-decoration: none;
    color: var(--secondaryText);
    font-size: 1.2rem;
}

.affix .left-wrapper p{
    color: var(--secondaryText);
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: var(--thirdText);
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}


/* Hero Section*/

#hero {
    background-image: url(./assets/bg_img.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero a {
    animation: text_reveal -5s ease forwards;
    animation-delay: 4s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--thirdText);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    visibility: hidden;
    display: inline-block;
    padding: 10px 30px;
    color: var(--secondaryText);
    background-color: rgba(241, 245, 247, 0.3);
    border: 2px solid var(--secondaryText);
    border-radius: 7px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
}

#hero .cta:hover {
    color: var(--secondaryText);
    background-color: var(--secondaryColor);
}

/* About Section */

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 30em auto;
    grid-template-areas:
        'about-title about-title'
        'left-column right-column'
        'techs-row techs-row'
}

.about-title {
    grid-area: about-title; 
}

.left-column {
    grid-area: left-column;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 20px;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    object-fit: fill;
    border: 3px solid var(--thirdText);
}

.social {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 10px;
    padding: 10px;
}

.social-link{
    width: 40px;
    height: 40px;
}

.social-link:hover{
    transform: scale(1.2);
}

.download-btn-wrapper {
    background-color: var(--mainColor);
    border: 2px solid var(--mainText);
    border-radius: 7px;
    text-align: center;
    align-self: center;
    padding: 10px;
}

.download-btn-wrapper:hover {
    transform: scale(1.1);
    background-color: var(--secondaryText);
    border: 2px solid var(--secondaryColor);
}

.download-btn {
    color: var(--mainText);
}

.download-btn:hover {
    color: var(--secondaryColor); 
}

.download-text {
    width: 350px;
    margin: 0px 50px;
    font-size: 14px;
    text-align: center;
}

/* .center-column {
    grid-area: center-column;
}

.info {
    font-size: 16px;
}*/

.right-column {
    grid-area: right-column;
    display: flex;
    padding: 50px 20px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    max-width: 550px;
    height: 280px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 550px;
    border: 1.5px solid var(--thirdText);
    background-color: var(--previewBG);
    padding: 15px;
    position: relative;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid var(--thirdText);
    background-color: var(--mainColor);   
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

.techs-row {
    grid-area: techs-row;
    padding: 20px;
}

.techs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'backend-title frontend-title interested-title'
    'backend-wrapper frontend-wrapper interested-wrapper';
}

.techs-wrapper .backend-title, .frontend-title, .interested-title {
    text-align: center;
}

.backend-wrapper {
    grid-area: backend-wrapper;
}

.frontend-wrapper {
    grid-area: frontend-wrapper;
}

.interested-wrapper {
    grid-area: interested-wrapper;
}

.backend-title {
    grid-area: backend-title;
    
}

.frontend-title {
    grid-area: frontend-title;
}

.interested-title {
    grid-area: interested-title;
}

.backend-wrapper, .frontend-wrapper, .interested-wrapper {
    
    background-color: var(--secondaryColor);
    padding:10px;
    margin: 20px;

    -webkit-box-shadow: 10px 10px 5px -4px rgba(36,129,207,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(36,129,207,1);
    box-shadow: 10px 10px 5px -4px rgba(36,129,207,1);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    object-fit: contain;
}

/* Projects Section */

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 75px;
    justify-content: center;
    padding: 50px 0px;
}

.post {
    border: 1px solid var(--mainColor);
    -webkit-box-shadow: -1px 4px 20px 6px rgba(0,0,0,1);
    -moz-box-shadow: -1px 4px 20px 6px rgba(0,0,0,1);
    box-shadow: -1px 4px 20px 6px rgba(0,0,0,1);
}

.post:hover {
    transform: scale(1.1);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: fill;
}

.post-preview {
    background-color: var(--mainColor);
    padding: 15px;
}

.post-title {
    color: var(--thirdText);
    margin: 5px;
    font-size: 20px;    
}

.post-intro {
    font-size:16px;
    text-align: justify;
}

.link-btn {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link {
    margin: 10px 0px;
    text-align: center;
    border: 1px solid var(--secondaryText);
    background-color: var(--secondaryColor);
    color: var(--secondaryText);
    padding: 5px;
    font-size: 20px;
}

.link:hover {
    background-color: var(--thirdText);
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
}

.project-note {
    font-size: 10px;
    color: var(--secondaryText);
}

.project-note:hover {
    color: var(--mainColor);
}

/* Get In Touch Section */

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--previewShadow);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--secondaryColor);
    margin-bottom: 50px;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 150px;
}

.input-field {
    width: 100%;
    background-color: var(--mainColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 16px;
    padding: 10px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0px;
    color: var(--mainColor);
    background-color: var(--secondaryText);
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.submit-span {
    color: var(--mainColor);
}

/* Others */

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
}

footer {
    background-color: var(--mainColor);
    border-top: 1px solid var(--secondaryText);
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.social-link-footer {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.div-footer {
    width:380px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 10px 0px;
}

/* Media Screens */

@media screen and (max-width: 1420px) {
    .techs-wrapper {
        display: block;
    }

    .backend-wrapper, .frontend-wrapper, .interested-wrapper {
        margin: 25px;
    }
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
        margin: auto;
    }

    #hero {
        background-size: cover;
        background-position: top right;
    }

    .about-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'about-title'
            'left-column'
            'right-column'
            'techs-row';
    }

    .right-column {
        justify-content: center;
    }

    .left-column {
        padding: 0;
    }

    .post {
        margin-left: 10px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:768px) {

    .nav-container {
        display: block;

    }
    .navTrigger {
        display: block;
    }
    .nav .logo {
        padding-left: 5px;
    }

    .left-wrapper {
        min-width: 200px;
    }
   
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 1000px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--mainColor);
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 2rem;
        padding: 20px;
        color: var(--secondaryText);
    }

    .nav div.media_button {
        display: block;
    }
}

@media screen and (max-width: 800px) {

    .logo {
        margin: 0px;
    }
    .about-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'about-title'
            'left-column'
            'right-column'
            'techs-row';
    }

    .right-column {
        justify-content: center;
    }

    .left-column, .right-column, .techs-row{
        padding: 20px 0px;
    }

    .techs-row {
        display: flex;
        justify-content: center;
    }

    .techs-wrapper {
        display: inline-block;
    }

    .backend-wrapper, .frontend-wrapper, .interested-wrapper {
        margin: 20px;
    }

    #contact-form {
        max-width: 550px;
    }
}

@media screen and (max-width: 600px){

    #preview-shadow{
        max-width: 400px;
        height: 330px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #preview{
        width: 400px;
    }
}

@media screen and (max-width: 540px){
 
    #preview-shadow{
        max-width: 300px;
        height: 470px;
        padding-left: 20px;
        padding-top: 20px;
    }

    #preview{
        width: 300px;
    }

    .logo {
        max-width: 100px;
        max-height: 100px;
    }

    .techs-wrapper {
        width: 300px;
    }

    .backend-wrapper, .frontend-wrapper, .interested-wrapper {
        display: block;
    }

    .post-wrapper {
        grid-template-columns: repeat(auto-fit, 350px);
    }

    .thumbnail {
        height: 220px;
    }

    #contact-form {
        max-width: 380px;
    }

}

@media screen and (max-width: 475px){

    #preview-shadow{
        max-width: 250px;
        height: 560px;
    }

    #preview{
        width: 250px;
    }

    .logo {
        max-width: 70px;
        max-height: 70px;
    }

    .techs-wrapper {
        width: 300px;
    }

    .about-title, .left-column, .right-column, .techs-row {
        max-width: 300px;
        margin: auto;
    }
    

    #contact-form {
        max-width: 300px;
    }
}

@media screen and (max-width: 375px){

    .about-title, .left-column, .right-column, .techs-row {
        max-width: 250px;
        margin: auto;
    }

    .techs-wrapper {
        margin-top: 30px;
    }

    .download-text {
        width: 250px;
    }

    .social {
        display: inline-block;
        width: 250px;
        text-align: center;
    }

    .social-link {
        margin-bottom: 10px;
    }

    .post-wrapper {
        grid-template-columns: repeat(auto-fit, 250px);
    }
    
    #contact-form {
        max-width: 250px;
    }

    .div-footer {
        width: 250px;
    }
}

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: var(--secondaryText);
    }
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}